################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Test/v15
/Test/bin/Debug/netcoreapp2.1
/.vs/MobilpayTest/v15
/.vs
/Test/obj
